<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppName" value="AppDAB"/>
    <add key="UAFServerName" value="DAB-UADMSERVER"/>
    <add key="CertificateModuleName" value="CN=TestingCertificate, T=SimaticIT UA Foundation"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
